# Logs und Debug-Dateien
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Abhängigkeiten und Paketmanager
node_modules/
jspm_packages/
bower_components/
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
.npm/

# Umgebungsvariablen
.env
.env.test
.env.production
.env.local

# Build- und Ausgabeverzeichnisse
dist/
dist-ssr/
build/
out/
.next/
.nuxt/
.svelte-kit/
public/
.cache/
.vite/
frontend/.vite/
.parcel-cache/
.netlify/

# Temporäre Dateien und Caches
tmp/
temp/
.eslintcache
.stylelintcache
*.tsbuildinfo
.grunt/
lib-cov/
coverage/
*.lcov

# Editor- und IDE-spezifische Dateien
.vscode/*
!.vscode/extensions.json
.idea/
*.sublime-project
*.sublime-workspace
.vs/
*.vsix
*.suo
*.user
*.userosscache
*.ncb
*.sdf
*.opensdf
*.pdb
*.dbmdl

# Vim Swap-Dateien
*.swp
*.swo
*.swm
*.swn
*.swt

# Betriebssystem-spezifische Dateien
.DS_Store
._*
Thumbs.db
ehthumbs.db
Desktop.ini
.Trash-*

# Paket-Sperrdateien
package-lock.json
yarn.lock
pnpm-lock.yaml
*.lock

# Archiv- und Komprimierungsdateien
*.gz
*.zip
*.bak
*.tmp
*.orig
*.txt

# Projektspezifische Ignores
/embed_models/
backend/embed_models/
#ConnectPostgres.js
.meld/*
.meld/
model_visualize.py

# Lokale Dateien
*.local
.tern-port

# Testdateien mit JEST
*.test.js





# # # # WHITELIST # # # #
!pip-requirements.txt
