/**
 * Stile für die Seite zum Anfordern eines neuen Passworts.
    @author Ayoub
 */

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fc;
    border-bottom: 1px solid #ddd;
}

    .header .header-content {
        display: flex;
        align-items: center;
    }

    .header .logo {
        font-size: 2rem;
        font-weight: bold;
        color: #007bff;
        margin-left: 95px;
    }

/* Request Password Page */
.requestpassword_page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 94vh;
    background: #eef2f7;
    font-family: 'Arial', sans-serif;
}

.requestpassword_container {
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 30px 40px;
    width: 400px;
    text-align: center;
}

    .requestpassword_container h1 {
        font-size: 24px;
        margin-bottom: 20px;
        color: #1e3a8a;
    }

.requestpassword_input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #d1d5db;
    border-radius: 5px;
    font-size: 14px;
}

    .requestpassword_input:focus {
        border: 1px solid #3b82f6;
        outline: none;
        box-shadow: 0px 0px 4px rgba(59, 130, 246, 0.6);
    }

.requestpassword_button {
    width: 100%;
    padding: 10px;
    background: #1e3a8a;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

    .requestpassword_button:hover {
        background: #3b82f6;
        color: white;
    }

.requestpassword_link {
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    transition: color 0.3s ease;
}

    .requestpassword_link:hover {
        color: #0056b3;
    }
