--extra-index-url https://download.pytorch.org/whl/cpu
hdbscan
huggingface_hub
keybert
langdetect
numpy
onnxruntime
optimum
sentence-transformers
torch
transformers
tqdm
scikit-learn
scipy
sentencepiece
requests
pdfminer.six